.container {
	width: var(--container-width);
	padding: 0 var(--container-padding);
	margin: 0 auto;
	font-family: var(--font-family);
	font-size: 14px;
}

.title-mb {
	font-family: var(--second-family);
	font-weight: 900;
	color: var(--black);
}

.title-xs {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 138%;
	color: rgba(0, 0, 0, 0.6);
}
