:root {
  /* fonts */
  --font-family: "Satoshi", sans-serif;
  --second-family: "Integral CF Heavy", sans-serif;
  --third-family: "Integral CF", sans-serif;
  --font3: "Inter", sans-serif;
}
