:root {
  /* colors */
  --black: #000;
  --white: #fff;
  --background-color: #f2f0f1;

  /* container */
  --container-width: 1470px;
  /* --container-padding: 15px; */

  /* fonts */
  --font-family: "InterTight", sans-serif;
  --second-family: "GothamPro", sans-serif;
  --third-family: "Integral CF", sans-serif;

  /* transitions */
  --transition-time: 0.2s;

  /* layers */
  --layer-negative: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}
