.page {
  font-family: var(--font-family);
  font-weight: 400;
  /* color: var(--white); */
  scroll-behavior: smooth;
  scroll-padding-top: 98px;
}

.page__body {
  min-width: 375px;
  background-color: var(--white);
}

.page__body--no-scroll {
  overflow-y: hidden;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

.title-large {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 42px;
  color: var(--title-color);
}

.title-md {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 30px;
  color: var(--title-color);
}

.title-xs {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  color: var(--black);
}

.title-p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  color: var(--title-color);
}
