:root {
  /* colors */
  --temnyi-gray: #dddddd;
  --svetlyi-gray: #f8f8f8;
  --hover-effect: #c5358c;
  --title-color: #111;
  --black: #000;
  --white: #fff;

  /* container */
  --container-width: 1920px;
  /* --container-padding: 0 15px; */

  /* fonts */
  --font-family: "OpenSans Condensed", sans-serif;
  --second-family: "NAMU", sans-serif;

  /* transition */
  --transition-time: 0.2s;

  /* layers */
  --layer-negative: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}
