:root {
	/* font-family */
	--font-family: "OpenSans_Condensed", sans-serif;
	--second-family: "NAMU", sans-serif;

	/* colors */
	--accent-color: #c5358c;
	--temnyi-gray: #ddd;
	--svetlyi-gray: #f8f8f8;
	--white-color: #fff;
	--black-color: #000;
	/* --disabled-color: #5d5d56;
	--disabled-glow-color: #5d5d564d;
	--shadow-color: #181817;
	--overlay-color: #2a2a2980; */

	/* shadows */
	/* --shadow-glow: 0 0 6px 2px var(--main-glow-color);
	--shadow-accent-glow: 0 0 6px 2px var(--accent-glow-color);
	--shadow-disabled-glow: 0 0 6px 2px var(--disabled-glow-color); */

	/* container */
	--container-width: 1920px;
	--container-padding: 15px;

	/* transitions */
	--transition-time: 0.2s;

	/* layers */
	--layer-negative: -1;
	--layer-0: 0;
	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;
}
