.advantages {
	position: relative;
	background: var(--gradient-bg-rev);
}

.advantages::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: var(--accent-color);
	box-shadow:
		0 0 5px var(--accent-color),
		0 0 15px var(--accent-color),
		0 0 25px var(--accent-color);
}

.advantages::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: var(--accent-color);
	box-shadow:
		0 0 5px var(--accent-color),
		0 0 15px var(--accent-color),
		0 0 25px var(--accent-color);
}

.adv__title {
	padding-block: 125px 60px;
}
.adv__title span {
	color: var(--accent-color);
}

.adv__carts {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-bottom: 120px;
}

.adv__carts-top {
	display: grid;
	grid-template-columns: repeat(4, 285px);
	gap: 24px;
	justify-content: center;
}

.adv__carts-bottom {
	display: grid;
	grid-template-columns: repeat(3, 385px);
	gap: 24px;
	justify-content: center;
	margin-top: 24px;
}

.adv__carts-item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px;
	width: 100%;
	border-radius: 20px;
	height: 212px;
	background: linear-gradient(
		180deg,
		rgba(0, 224, 255, 0.11) 0%,
		rgba(0, 224, 255, 0.05) 100%
	);
}
