.hero {
  position: relative;
  background: var(--gradient-bg);
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 2px;
  background: var(--accent-color);
  box-shadow:
    0 0 5px var(--accent-color),
    0 0 15px var(--accent-color),
    0 0 25px var(--accent-color);
}

@media (width <= 768px) {
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero__greetings {
  padding-top: 155px;
  font-weight: 600;
  font-size: 18px;
  color: #747d81;
}

@media (width <= 992px) {
  .hero__greetings {
    padding-top: 80px;
    font-size: 16px;
  }
}

@media (width <= 576px) {
  .hero__greetings {
    padding-top: 40px;
    font-size: 14px;
  }
}

@media (width <= 420px) {
  .hero__greetings {
    padding-top: 20px;
    font-size: 12px;
  }
}

.hero__title {
  padding-bottom: 18px;
  font-weight: 600;
  font-size: 108px;
  background: linear-gradient(180deg, #fff 31.75%, #1a3031 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (width <=1200px) {
  .hero__title {
    font-size: 90px;
  }
}

@media (width <= 992px) {
  .hero__title {
    font-size: 80px;
  }
}

@media (width <= 768px) {
  .hero__title {
    font-size: 60px;
  }
}

@media (width <= 576px) {
  .hero__title {
    font-size: 50px;
  }
}

.hero__desc {
  padding-bottom: 80px;
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
}

.hero__desc span {
  display: block;
  line-height: 120%;
}

@media (width <= 992px) {
  .hero__desc {
    padding-bottom: 60px;
    font-size: 15px;
    text-align: center;
  }
}

@media (width <= 576px) {
  .hero__desc {
    padding-bottom: 30px;
    font-size: 12px;
  }
}

.hero__guarantee {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 576px;
  padding-bottom: 100px;
}

@media (width <= 992px) {
  .hero__guarantee {
    gap: 20px;
    padding-bottom: 20px;
  }
}

@media (width <= 576px) {
  .hero__guarantee {
    max-width: 300px;
    gap: 10px;
    padding-bottom: 10px;
  }
}

.hero__guarantee-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 71px;
  height: 71px;
  background: linear-gradient(
    180deg,
    rgba(0, 224, 255, 0.11) 0%,
    rgba(0, 224, 255, 0.05) 100%
  );
}
@media (width <= 992px) {
  .hero__guarantee-icon {
    width: 60px;
    height: 60px;
    border-radius: 9px;
  }
}

@media (width <= 768px) {
  .hero__guarantee-icon {
    width: 50px;
    height: 50px;
    border-radius: 7px;
  }
}
@media (width <= 576px) {
  .hero__guarantee-icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
}

@media (width <= 420px) {
  .hero__guarantee-icon {
    width: 30px;
    height: 30px;
  }
}

.hero__guarantee-icon svg {
  width: 39px;
  height: 39px;
}

@media (width <= 768px) {
  .hero__guarantee-icon svg {
    padding: 5px;
    width: 35px;
    height: 35px;
  }
}

.hero__guarantee-text {
  max-width: 472px;
  font-size: 18px;
  color: var(--white);
}

@media (width <= 992px) {
  .hero__guarantee-text {
    font-size: 16px;
  }
}

@media (width <= 576px) {
  .hero__guarantee-text {
    font-size: 14px;
  }
}

@media (width <= 420px) {
  .hero__guarantee-text {
    font-size: 12px;
  }
}

.guarantee__text {
  color: var(--accent-color);
}

.guarantee__title {
  padding-bottom: 20px;
}

@media (width <= 992px) {
  .guarantee__title {
    padding-bottom: 10px;
  }
}

.btn__text {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

@media (width <= 992px) {
  .btn__text {
    font-size: 10px;
  }
}

@media (width <= 576px) {
  .btn__text {
    font-size: 8px;
  }
}

.hero__image {
  position: absolute;
  top: 5%;
  left: 40%;
  overflow: hidden;
  z-index: var(--layer-2);
  box-shadow: inset 58px 4px 191px 47px #000;
  mix-blend-mode: lighten;
}

@media (width <992px) {
  .hero__image {
    width: 70%;
    height: auto;
  }
}

@media (width <= 768px) {
  .hero__image {
    position: static;
    top: auto;
    bottom: 20px;
    left: 100%;
    width: auto;
  }
}

.hero__image-2 {
  position: absolute;
  top: 58%;
  overflow: hidden;
  width: 356px;
  height: 356px;
  opacity: 0.4;
}
@media (width <= 992px) {
  .hero__image-2 {
    display: none;
  }
}
