body {
	font-family: sans-serif;
	max-width: 350px;
	font-size: 18px;
}

form {
	border-radius: 10px;
}

fieldset {
	border-radius: 15px;
}

label {
	display: block;
	margin-top: 15px;
}

.title {
	font-weight: bold;
}

input,
textarea {
	display: block;
	resize: vertical;
	max-height: 150px;
}

.input {
	width: 230px;
}

.button {
	cursor: pointer;
	border: none;
}

a {
	text-decoration: none;
	color: #000;
}
