/* .hero {
	position: relative;
} */

.hero__container {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-top: clamp(50px, 2.292rem + 4.17vw, 90px);
}

.hero-content {
  min-width: 557px;
}

.content__title {
  font-size: 46px;
  line-height: 103%;
  color: var(--black);
}

.content__title span {
  display: block;
}

.hero__img {
  transform: translateX(270px);
  z-index: var(--layer-1);
}
