.production {
	padding-top: 90px;
}

.production__container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

@media (width <= 768px) {
	.production__container {
		grid-template-columns: repeat(2, 1fr);
		padding-inline: 55px;
	}
}

@media (width <= 576px) {
	.production__container {
		padding-inline: 30px;
	}
}

.production__item {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: var(--box-shadow);
}

.production__item:hover * {
	transition:
		background-color,
		color var(--transition-time);
	background-color: var(--black);
	color: var(--white);
}

.pr__img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.pr__footer {
	display: flex;
	flex-direction: column;
	gap: 11px;
	padding-block: clamp(10px, -0.781rem + 2.93vw, 25px);
	padding-inline: clamp(13px, -1.719rem + 5.27vw, 40px);
}

.title-md {
	font-size: clamp(16px, -0.313rem + 2.73vw, 30px);
}

.pr__footer-link {
	display: inline-flex;
	align-items: center;
	gap: clamp(8px, -0.114rem + 1.7vw, 20px);
	font-size: clamp(12px, -0.375rem + 2.34vw, 24px);
}

.pr__footer-svg {
	overflow: visible;
	width: 1em;
	height: 1em;
}

.production__item:hover .pr__footer-link svg {
	fill: var(--white);
	transform: translateX(5px);
	transition: var(--transition-time);
}
